<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "edu.uab.business.studentapp"
        versionCode = "1" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Mobile App Integration Demonstration</name>

    <description>
        Mobile App Integration Demonstration 
    </description>

    <author>
        Julio C. Rivera 
    </author>
    
    <preference name="phonegap-version" value="cli-6.1.0" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <access origin="*" />
    <preference name="SplashScreenDelay" value="5000" />
    
    <platform name="ios">
        <icon src="sombrero152.png" width="152" height="152" />
        <splash src="splash.png" />
    </platform>
    
    <platform name="android">
        <icon src="sombrero152.png" width="152" height="152"/>
        <splash src="splash.png" />
    </platform>

</widget>