<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "edu.uab.business.studentapp"
        versionCode = "1" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Mobile App Integration Demonstration</name>

    <description>
        Mobile App Integration Demonstration 
    </description>

    <author>
        Julio C. Rivera 
    </author>
    

    <preference name="phonegap-version" value="cli-7.0.1" />

    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="cordova-plugin-geolocation" source="npm" />
    <access origin="*" />

    <preference name="SplashScreenDelay" value="5000" />
    <splash src="images/self2xport.png" platform="ios" width="1536" height="2048" />
    <splash src="images/self2xland.png" platform="ios" width="2048" height="1536" />
    <splash src="splash.png" platform="android" density="port-mdpi" />
    
    <platform name="ios">
        <icon src="images/sombrero152.png" width="152" height="152" />
        <preference name="exit-on-suspend" value="true" />
    </platform>
    
    <platform name="android">
        <icon src="icon.png" />
    </platform>

</widget>
